.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;;
  color: white;
}

@media only screen and (max-width: 750px) {
  .logo {
    pointer-events: none;
    animation: fadeIn 3s;
    height: auto;
    width: 100%;
  }
}

.Toast {
  float: right;
  z-index: auto;
}

a, a:hover, a:visited, a:active {
  padding: 5px;
  color: inherit;
  text-decoration: none;
 }
