.App {
  text-align: center;
}
.logo {
  height: 40vmin;
  pointer-events: none;
}

.commands  {
  width: 750px;
  font-size: 14px;
  font-weight: normal;
}
.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 2vmin);
  color: white;
}
a, a:hover, a:visited, a:active {
  padding: 5px;
  color: inherit;
  text-decoration: none;
 }
