openapi: '3.0.2'
info:
  title: BoostchickenLOL
  version: '4.2.0'
  contact:
    email: john@boostchicken.dev
  license:
    name: MIT License
servers:
  - url: https://lol.boostchicken.io

components:
  schemas:
    LOLConfig:
      type: object
      required:
        - Bind
        - Entries
      properties:
        Bind:
          description: The host and port to bind too (eg 0.0.0.0:8080)
          type: string
        Entries:
          description: "Array of all current commands"
          required:
            - "Command"
            - "Value"
            - "Type"
          type: array
          properties:
            Command:
              type: string
              description: The command to associate to this url
            Value:
              type: string
              description: A string following golang printf format for the URL to goto
            Type:
              type: string
              enum:
               - Alias
               - Redirect
               - RedirectVarArgs
              description: Execution mode for the command.  Must be one of "Alias", "Redirect", "RedirectVarArgs
    history:
      description: List of last 250 commands
      type: array
      items:
        type: object
        properties:
          Command:
            type: string
          Result:
            type: string
            format: url

        
paths:
  /config:
    summary: Get the current config in your format of choice
    get:
      operationId: getConfig
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LOLConfig"
            application/xml:
              schema:
                $ref: "#/components/schemas/LOLConfig"
            application/yaml:
              schema:
                $ref: "#/components/schemas/LOLConfig"
  /history:
    get:
      summary: Get all history tab entries (max 250)
      operationId: getHistory
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/history"
  /liveconfig:
    get:
      summary: 'Get current configuration in JSON for UI'
      description: "liveconfig has the same return value of config with a contentype of JSON.  However this just exists to make that fool proof"
      operationId: getLiveConfig
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LOLConfig"
  /delete/{command}:
    delete:
      summary: Delete a command from the config
      parameters:
        - name: command
          required: true
          in: path
          schema:
            type: string
      operationId: "deleteCommand"
      responses:
        '200':
          description: "Command Deleted"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LOLConfig"
  /add/{command}/{type}:
    put:
      summary: Add a command  to the config
      description: >
        Add a command to the config and reloads the cache. All strings will be trimmed, please URLEncode your url parameter.
      parameters:
        - name: command
          required: true
          in: path
          schema:
            type: string
        - name: type
          required: true
          in: path
          schema:
            type: string
            enum:
               - Alias
               - Redirect
               - RedirectVarArgs
        - name: url
          in: query
          required: true
          schema:
            type: string
      operationId: addCommand
      responses:
        '200':
          description: "Command Added"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LOLConfig"       

